.home-page-banner {
	margin-top: -64px;
	width: 100%;
	height: 100vh;
	background: url('/images/carousel_image_1.jpg') no-repeat center center;
	background-size: cover;
	/*filter: brightness(60%);*/
}

.projects-page-banner {
	margin-top: -64px;
	width: 100%;
	height: 100vh;
	background: url('/images/carousel_image_3.jpg') no-repeat center center;
	background-size: cover;
}

.academics-page-banner {
	margin-top: -64px;
	width: 100%;
	height: 100vh;
	background: url('/images/carousel_image_5.jpg') no-repeat center center;
	background-size: cover;
}

.blog-page-banner {
	margin-top: -64px;
	width: 100%;
	height: 100vh;
	background: url('/images/carousel_image_2.jpg') no-repeat center center;
	background-size: cover;	
}

.welcome-text {
	font-family: 'PT Sans', sans-serif;
	margin-bottom: 10px;
}

.pt-sans {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}

.nav {
	transition: color 0.3s ease-in-out;
}

.button {
	color: white;
	text-decoration: none;
	align-self: center;
	align-self: center;
	margin-top: 10px; 
	border: 2px solid white;
	padding: 15px;
	font-size: x-large;
	border-radius: 5px;
	transition: all 0.2s linear;
}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid orange; /* Just change the color value and that's it*/
}

.button:hover {
	background-color: white;
	color: black;
	box-shadow: 1px 1px 10px black;
}

#icons {
	overflow-x: auto;
}

.responsive-image {
	width: 40px;
	height: 40px;
	margin: 4px;
}

#nav-mobile li, #nav-mobile li a{
	display:inline-block;
	box-sizing: initial;
}

footer {
	margin-top: 8px;
	padding: 8px;
}

img {
	width: 100%;
}

.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:#eee;
    color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
    background-color:#ffd8a6;
    color:#fff;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#ff9800;
} /*Color of underline*/


/*Syntax Highlighting from here*/
.highlighter-rouge { background-color: #002b36; color: #93a1a1; max-width: 56.25rem; padding: 1rem; border-radius: 1rem; margin: 0px auto 2em; }
.highlighter-rouge .lineno { color: #586e75 } /* Line Numbers */
.highlighter-rouge .c { color: #586e75 } /* Comment */
.highlighter-rouge .err { color: #93a1a1 } /* Error */
.highlighter-rouge .g { color: #93a1a1 } /* Generic */
.highlighter-rouge .k { color: #859900 } /* Keyword */
.highlighter-rouge .l { color: #93a1a1 } /* Literal */
.highlighter-rouge .n { color: #93a1a1 } /* Name */
.highlighter-rouge .o { color: #859900 } /* Operator */
.highlighter-rouge .x { color: #cb4b16 } /* Other */
.highlighter-rouge .p { color: #93a1a1 } /* Punctuation */
.highlighter-rouge .cm { color: #586e75 } /* Comment.Multiline */
.highlighter-rouge .cp { color: #859900 } /* Comment.Preproc */
.highlighter-rouge .c1 { color: #586e75 } /* Comment.Single */
.highlighter-rouge .cs { color: #859900 } /* Comment.Special */
.highlighter-rouge .gd { color: #2aa198 } /* Generic.Deleted */
.highlighter-rouge .ge { color: #93a1a1; font-style: italic } /* Generic.Emph */
.highlighter-rouge .gr { color: #dc322f } /* Generic.Error */
.highlighter-rouge .gh { color: #cb4b16 } /* Generic.Heading */
.highlighter-rouge .gi { color: #859900 } /* Generic.Inserted */
.highlighter-rouge .go { color: #93a1a1 } /* Generic.Output */
.highlighter-rouge .gp { color: #93a1a1 } /* Generic.Prompt */
.highlighter-rouge .gs { color: #93a1a1; font-weight: bold } /* Generic.Strong */
.highlighter-rouge .gu { color: #cb4b16 } /* Generic.Subheading */
.highlighter-rouge .gt { color: #93a1a1 } /* Generic.Traceback */
.highlighter-rouge .kc { color: #cb4b16 } /* Keyword.Constant */
.highlighter-rouge .kd { color: #268bd2 } /* Keyword.Declaration */
.highlighter-rouge .kn { color: #859900 } /* Keyword.Namespace */
.highlighter-rouge .kp { color: #859900 } /* Keyword.Pseudo */
.highlighter-rouge .kr { color: #268bd2 } /* Keyword.Reserved */
.highlighter-rouge .kt { color: #dc322f } /* Keyword.Type */
.highlighter-rouge .ld { color: #93a1a1 } /* Literal.Date */
.highlighter-rouge .m { color: #2aa198 } /* Literal.Number */
.highlighter-rouge .s { color: #2aa198 } /* Literal.String */
.highlighter-rouge .na { color: #93a1a1 } /* Name.Attribute */
.highlighter-rouge .nb { color: #B58900 } /* Name.Builtin */
.highlighter-rouge .nc { color: #268bd2 } /* Name.Class */
.highlighter-rouge .no { color: #cb4b16 } /* Name.Constant */
.highlighter-rouge .nd { color: #268bd2 } /* Name.Decorator */
.highlighter-rouge .ni { color: #cb4b16 } /* Name.Entity */
.highlighter-rouge .ne { color: #cb4b16 } /* Name.Exception */
.highlighter-rouge .nf { color: #268bd2 } /* Name.Function */
.highlighter-rouge .nl { color: #93a1a1 } /* Name.Label */
.highlighter-rouge .nn { color: #93a1a1 } /* Name.Namespace */
.highlighter-rouge .nx { color: #93a1a1 } /* Name.Other */
.highlighter-rouge .py { color: #93a1a1 } /* Name.Property */
.highlighter-rouge .nt { color: #268bd2 } /* Name.Tag */
.highlighter-rouge .nv { color: #268bd2 } /* Name.Variable */
.highlighter-rouge .ow { color: #859900 } /* Operator.Word */
.highlighter-rouge .w { color: #93a1a1 } /* Text.Whitespace */
.highlighter-rouge .mf { color: #2aa198 } /* Literal.Number.Float */
.highlighter-rouge .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlighter-rouge .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlighter-rouge .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlighter-rouge .sb { color: #586e75 } /* Literal.String.Backtick */
.highlighter-rouge .sc { color: #2aa198 } /* Literal.String.Char */
.highlighter-rouge .sd { color: #93a1a1 } /* Literal.String.Doc */
.highlighter-rouge .s2 { color: #2aa198 } /* Literal.String.Double */
.highlighter-rouge .se { color: #cb4b16 } /* Literal.String.Escape */
.highlighter-rouge .sh { color: #93a1a1 } /* Literal.String.Heredoc */
.highlighter-rouge .si { color: #2aa198 } /* Literal.String.Interpol */
.highlighter-rouge .sx { color: #2aa198 } /* Literal.String.Other */
.highlighter-rouge .sr { color: #dc322f } /* Literal.String.Regex */
.highlighter-rouge .s1 { color: #2aa198 } /* Literal.String.Single */
.highlighter-rouge .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlighter-rouge .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.highlighter-rouge .vc { color: #268bd2 } /* Name.Variable.Class */
.highlighter-rouge .vg { color: #268bd2 } /* Name.Variable.Global */
.highlighter-rouge .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlighter-rouge .il { color: #2aa198 } /* Literal.Number.Integer.Long */

/*pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}*/