body {
	background-color: rgb(223, 234, 237);
}

.card {
	margin-right: 40px;
	margin-left: 40px;
	max-width: 800px;
}



nav .nav-wrapper {
	background: #00C853;
}

footer.page-footer {
	background-color: #00C853; 
	margin: 0%;
}

.intro {
	margin-left: 15%;
	margin-right: 10%;
	padding-top: 2%; 
}

.contact {
	padding-left: 10%;
}