html {
  background-image: url(/images/textures/light6.png);
  color: navy;
  text-align: center;
}

h1 {
  color:royalBlue;
  }
  
  h2 {
    color:salmon;
  }
  
  p {
    text-align: left;
  }
  
  
