<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>

		<!--Meta tags-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
		<meta name="keywords" content="Salman Shah, Intern, Data Science, Machine Learning">
		<meta name="author" content="Salman Shah">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta property="fb:app_id" content="718668198321545" />
		<!--Favicon-->
		<link rel="shortcut icon" href="/images/favicon.ico">

		<!--CSS Files-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="/css/stylesheet.css">

		<!--JavaScript files-->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js">
		</script>
		<script type="text/javascript" src="/js/home.js"></script>

		<script type="text/javascript">$crisp=[];CRISP_WEBSITE_ID="95f86ec5-a6d1-4659-a374-847f66e1c963";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.im/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
		</script>
	</head>

	<body onload="init();">

	{% include header.html %}
		<main>
			<div class="blog-page-banner">
				<div style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,0.6);">
				</div>
				<div style="position: absolute; bottom: 0;width: 100%; color: #fff;">
					<div class="container">
						<div class="row">
							<h1 class="welcome-text">Welcome to my Blog!</h1>
						</div>
						<div class="row">
							The following blog contains a brief overview of my work and the daily projects that I do.<br>
							Please feel free to comment at the end of each article to give your valuable feedback. <br><br><br><br>
						</div>
						<div class="row" id="icons">
							<a href="https://github.com/salman-bhai"><img class="responsive-image" src="/images/logo_github_white.png"></a>
							<a href="https://www.linkedin.com/in/sbshah97"><img class="responsive-image" src="/images/logo_linkedin_white.png"></a>
							<a href="https://www.facebook.com/salman.shah.92775"><img class="responsive-image" src="/images/logo_fb_white.png"></a>
							<a href="https://www.instagram.com/salmanbhai_97/?hl=en"><img class="responsive-image" src="/images/logo_instagram_white.png"></a>			
						</div>
					</div>	
				</div>
			</div>

			<!--Content for the blog-->
			{{ content }}

		</main>

		{% include footer.html %}
	</body>
</html>