---
layout: default
---
{% include fb-root.html %}

<div class="container flow-text">
	<h2 class="pt-sans">{{page.title}}</h2>
	<p class="post-meta valign-wrapper orange-text">
	<i class="material-icons">today</i>
	<span class="valign">{{ page.date | date: "%B %-d, %Y"  }}
	</span>
	</p>
	{{ content }}
	
	<h4 class="pt-sans">Tags</h4>
	{% for tag in page.tags %}
		<!-- <a class="chip" href="/tags#{{ atag | downcase }}">{{ atag }}</a> -->
		<a href="/" class="button orange-text" style="border: 1px solid orange; display: inline-block;">{{ tag }}</a>
	{% endfor %} 
	
	<br><br>
	{% include author.html %}

	{% include comments.html %}
	<!-- {% include share.html %} -->

</div>