<!DOCTYPE html>
  <html lang="en-US">
  
    <head>
    	<title>Salman Shah|Home</title>
		
		<meta charset="UTF-8"></meta>
		<meta name="keywords" content="Salman Shah, NITK, HMPS, Coder, Open-Source, Bhai"></meta>
		<meta name="description" content="This website is a portfolio website for Salman Shah"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
		<meta name="author" content="Salman Shah"></meta>
		<link rel="stylesheet" type="text/css" href="stylesheet.css">
    </head>
    
    <body>
    	<center>
    		<!--Create a heading followed by a horizontal Bar Menu containing the links to the next page all in a single line. -->
    		<h2>Salman Shah, </h2><p>~aka Bhai</p> 


    		<!--Bar Menu + Name ends over here-->


    		<!--After creating the the name heading plus the menu, create a carousel of seven selected Images of your choice-->


    		<!--Carousel ends here-->


    		<!--Create links to Know Me page, Work sample page, Contact Me page and Resume page (Resume download) as soon as you click on the webpage-->


    		<!--Links end here -->


    		<!--Give a short introduction about myself over here in 80-100 words-->


    		<!--Short introduction ends over here-->


    		<!--At a Glance Heading. Talk about Education, where you are From and your Professional Experience -->


    		<!--At A Glance ends over here -->


    		<!--Add Trademark and add licenses, etc.-->


    		<!--Ends over here -->
    	</center>
    </body>
</html>
