		<footer class="orange">
			
			<div class="row center">
				<div class="col s12 m4 l4">
					<h4 class="welcome-text white-text">Links</h4>
					<div class="row">
						<div class="icon-image" id="icons">
							<a href="https://github.com/salman-bhai"><img class="responsive-image" src="/images/logo_github_white.png"></a>
							<a href="https://www.linkedin.com/in/sbshah97"><img class="responsive-image" src="/images/logo_linkedin_white.png"></a>
							<a href="https://www.facebook.com/shah.salman.bhai"><img class="responsive-image" src="/images/logo_fb_white.png"></a>
							<a href="https://www.instagram.com/salmanbhai_97/?hl=en"><img class="responsive-image" src="/images/logo_instagram_white.png"></a>			
						</div>							
					</div>
				</div>

				<div class="col s12 m4 l4 right flow-text">
					<div class="contact">
						<h4 class="white-text">Contact</h4>
					</div>
					<div class="row">
							<p class="white-text" style="font-size: 18px;">Salman Shah, Room D209, Mega Tower 3, NITK Hostels, Srinivas Nagar, Surathkal, Mangalore, Karnataka - 575025.</p>
					</div>
				</div>
			</div>

		</footer>
