	<header>
		<div class="navbar-fixed">
			<nav class="transparent" role="navigation">
				<div class="nav-wrapper container">
					<a href="#" id="sidenav" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
					
					<ul class="right hide-on-med-and-down">
						<li><a href="/">Home</a></li>
						<li><a href="/projects.html">Projects</a></li>
						<li><a href="/academics.html">Academics</a></li>
						<li><a href="https://github.com/salman-bhai/Resume/blob/master/SS_Resume.pdf" target="_blank">Resume</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				</div>
			</nav>
					
		</div>
		<ul id="slide-out" class="side-nav">
			<li class="bold"><a href="/" class="waves-effect waves-teal">Home</a>
			</li>
			<li class="bold"><a href="/projects.html" class="waves-effect waves-teal">Projects</a></li>
			<li class="bold"><a href="/academics.html" class="waves-effect waves-teal">Academics</a>
			</li>
			<li class="bold"><a href="https://github.com/salman-bhai/Resume/blob/master/SS_Resume.pdf" target="_blank" class="waves-effect waves-teal">Resume</a>
			</li>
			<li class="bold"><a href="/blog" class="waves-effect waves-teal">Blog</a></li>
		</ul>

	</header>