			<div class="blog-page-banner">
				<div style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(0,0,0,0.6);">
				</div>
				<div style="position: absolute; bottom: 0;width: 100%; color: #fff;">
					<div class="container">
						<div class="row">
							<h1 class="welcome-text">Welcome to my Blog!</h1>
						</div>
						<div class="row">
							The following blog contains a brief overview of my work and the daily projects that I do.<br>
							Please feel free to comment at the end of each article to give your valuable feedback. <br><br><br><br>
						</div>
						<div class="row" id="icons">
						<a href="https://github.com/salman-bhai"><img class="responsive-image" src="/images/logo_github_white.png" alt="GitHub"></a>
						<a href="https://www.linkedin.com/in/sbshah97"><img class="responsive-image" src="/images/logo_linkedin_white.png" alt="LinkedIn"></a>
						<a href="https://www.facebook.com/salman.shah.92775"><img class="responsive-image" src="/images/logo_fb_white.png" alt="Facebook"></a>
						<a href="https://www.instagram.com/salmanbhai_97/?hl=en"><img class="responsive-image" src="/images/logo_instagram_white.png" alt="Instagram"></a>
						</div>
					</div>	
				</div>
			</div>
